<app-header [title]="groupName" [showBackButton]="true"></app-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-list-header>
      <ion-label>Items (Logged at {{ entryTime | date:'shortTime' }})</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let item of items" button (click)="viewItemNutrition(item)">
      <ion-label>
        <h2>{{ getDisplayName(item) }}</h2>
        <p>{{ item.quantity }} {{ item.unit }} - {{ item.calories | number:".0-0" }} kcal | P: {{ item.protein | number:".0-1" }}g | C: {{ item.carbohydrates | number:".0-1" }}g | F: {{ item.fat | number:".0-1" }}g</p>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="!items || items.length === 0">
      <ion-label>No items found in this group.</ion-label>
    </ion-item>
  </ion-list>
</ion-content> 