<ion-tabs>
  <ion-tab-bar class="tab-bar" slot="bottom">
    <ion-tab-button tab="chat" routerLink="/app/chat" routerDirection="root">
      <div class="custom-tab-icon">
        <img src="assets/icons/chat-icon.svg" alt="Chat" />
      </div>
    </ion-tab-button>
    
    <ion-tab-button tab="summary" routerLink="/app/summary" routerDirection="root">
      <div class="custom-tab-icon">
        <img src="assets/icons/chart-icon.svg" alt="Summary" />
      </div>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

