<ion-list>
  <ion-item *ngIf="isFoodEntry()" button (click)="handleAction('remove')" detail="false">
    <ion-icon name="trash-outline" slot="start" color="danger"></ion-icon>
    <ion-label>Remove</ion-label>
  </ion-item>
  
  <ion-item *ngIf="isFoodEntry()" button (click)="handleAction('edit')" detail="false">
    <ion-icon name="create-outline" slot="start" color="primary"></ion-icon>
    <ion-label>Edit</ion-label>
  </ion-item>
  
  <ion-item button (click)="handleAction('focusInChat')" detail="false">
    <ion-icon name="chatbox-outline" slot="start" color="success"></ion-icon>
    <ion-label>Focus in Chat</ion-label>
  </ion-item>
  
  <ion-item button (click)="handleAction('editGoal')" detail="false">
    <ion-icon name="navigate-outline" slot="start" color="tertiary"></ion-icon>
    <ion-label>Create or Modify Goal</ion-label>
  </ion-item>
  
  <ion-item button (click)="handleAction('learn')" detail="false">
    <ion-icon name="book-outline" slot="start" color="secondary"></ion-icon>
    <ion-label>Learn About This {{ getEntryTypeName() }}</ion-label>
  </ion-item>
  
  <ion-item button (click)="handleAction('trend')" detail="false">
    <ion-icon name="stats-chart-outline" slot="start" color="primary"></ion-icon>
    <ion-label>Show Trend</ion-label>
  </ion-item>
  
  <ion-item button (click)="handleAction('ignore')" detail="false">
    <ion-icon name="notifications-off-outline" slot="start" color="medium"></ion-icon>
    <ion-label>Ignore for Now</ion-label>
  </ion-item>
  
  <ion-item *ngIf="isFoodEntry()" button (click)="handleAction('suggest')" detail="false">
    <ion-icon name="flask-outline" slot="start" color="success"></ion-icon>
    <ion-label>Suggest Foods</ion-label>
  </ion-item>
</ion-list> 