<div class="scrollable-menu">
  <ion-list>
    <ion-item *ngIf="isFoodEntry()" button (click)="handleAction('remove')" detail="false">
      <ion-icon name="trash" slot="start"></ion-icon>
      <ion-label>{{ "Remove" | titlecase }}</ion-label>
    </ion-item>
    
    <ion-item *ngIf="isFoodEntry()" button (click)="handleAction('edit')" detail="false">
      <ion-icon name="create" slot="start"></ion-icon>
      <ion-label>{{ "Edit" | titlecase }}</ion-label>
    </ion-item>
    
    <ion-item button (click)="handleAction('focusInChat')" detail="false">
      <div class="custom-icon" slot="start">
        <img src="assets/icons/chat-icon.svg" alt="Focus in chat" />
      </div>
      <ion-label>{{ "Focus in chat" | titlecase }}</ion-label>
    </ion-item>
    
    <ion-item button (click)="handleAction('editGoal')" detail="false">
      <ion-icon name="flag" slot="start"></ion-icon>
      <ion-label>{{ "Create or modify goal" | titlecase }}</ion-label>
    </ion-item>
    
    <ion-item button (click)="handleAction('learn')" detail="false">
      <ion-icon name="school" slot="start"></ion-icon>
      <ion-label>{{ "Learn about this" | titlecase }} {{ getEntryTypeName() }}</ion-label>
    </ion-item>
    
    <ion-item button (click)="handleAction('trend')" detail="false">
      <ion-icon name="trending-up" slot="start"></ion-icon>
      <ion-label>{{ "Show trend" | titlecase }}</ion-label>
    </ion-item>
    
    <ion-item button (click)="handleAction('ignore')" detail="false">
      <ion-icon name="eye-off" slot="start"></ion-icon>
      <ion-label>{{ "Ignore for now" | titlecase }}</ion-label>
    </ion-item>
    
    <ion-item *ngIf="isFoodEntry()" button (click)="handleAction('suggest')" detail="false">
      <ion-icon name="bulb" slot="start"></ion-icon>
      <ion-label>{{ "Suggest foods" | titlecase }}</ion-label>
    </ion-item>
  </ion-list>
</div> 