<ion-fab slot="fixed" vertical="bottom" horizontal="start" class="mb-16 mr-4">
  <ion-fab-button (click)="toggleFab()" [color]="isOpen ? 'light' : 'primary'" class="shadow-lg">
    <ion-icon [name]="isOpen ? 'close-outline' : 'add-outline'"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top" [activated]="isOpen" #fabList>
    <ion-fab-button color="light" (click)="handleAction('photo')" class="my-2 shadow" title="Take a photo">
      <ion-icon name="camera-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light" (click)="handleAction('barcode')" class="my-2 shadow" title="Scan barcode">
      <ion-icon name="barcode-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light" (click)="handleAction('edit')" class="my-2 shadow" title="Manual entry">
      <ion-icon name="create-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab> 