@use '../auth-shared.scss';

ion-content {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full viewport height to enable vertical centering */
}

.site-title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

/* Add any additional styles specific to the register page here */

