// Add specific styles for the food entry detail modal if needed

ion-item ion-text {
    white-space: normal; // Allow original input text to wrap
}

.drill-down-modal-item {
    --inner-padding-end: 8px; // Reduce padding to make space for calories
}

.drill-down-modal-item ion-note {
    margin-left: auto; // Push calories to the right
    font-size: 0.9em;
}

