<div class="food-selection-container" [class.read-only]="isReadOnly">
  <div class="food-selection-container-inner">
    
    <!-- Loading state when editing phrase -->
    <div *ngIf="isEditingPhrase" class="editing-phrase-loading"> 
      <div class="loading-content">
        <div class="loading-dots-large">...</div>
        <div class="loading-text">Searching for better results...</div>
      </div>
    </div>

    <!-- Normal content when not editing phrase -->
    <div *ngIf="!isEditingPhrase">
      <!-- Food items list -->
      <div *ngIf="hasPayload" class="card-header">
        <label><strong>{{ ((message.mealName && message.mealName.trim().length > 0) ? message.mealName : 'Food Items') | titlecase }}</strong></label>
      </div>

      <div *ngIf="hasPayload" class="food-items-list">
      <!-- Loop over foods instead of flattened components -->
      <ng-container *ngFor="let food of (message.logMealToolResponse?.foods || []); let foodIndex = index; let isLast = last; trackBy: trackByFood">
        <div class="food-item-container" [class.is-last]="isLast" *ngIf="getComponentsForFood(food).length > 0">
          
          <!-- Cache components per food to avoid repeated calls -->
          <ng-container *ngIf="getComponentsForFood(food) as foodComponents">
          <!-- Multi-component food: Show as component-style item -->
          <ng-container *ngIf="foodComponents.length > 1">
            <!-- Food header row (styled like component items) -->
            <div class="component-item-container">
              <div class="food-item-row-simple">
                <ion-grid class="row-grid">
                  <ion-row class="top-row" align-items-center>
                    <ion-col size="10" class="left">
                      <div class="name-section">
                        <span class="name">{{ getComputedFoodName(foodIndex) | titlecase }}</span>
                      </div>
                      <div class="serving-line">
                        <!-- Show quantity stepper when expanded -->
                        <ng-container *ngIf="getComputedIsFoodEditingExpanded(foodIndex) && !isReadOnly">
                          <app-serving-quantity-input
                            [value]="editingFoodQuantities[foodIndex] || food.quantity || 1"
                            [step]="1"
                            [min]="1"
                            [max]="999"
                            [disabled]="isReadOnly"
                            [ariaLabel]="'Quantity for ' + food.name"
                            (valueChange)="onFoodQuantityChange(foodIndex, $event)">
                          </app-serving-quantity-input>
                          <span class="unit-label">{{ food.unit || 'servings' }}</span>
                        </ng-container>
                        <!-- Show normal label when collapsed or read-only -->
                        <ng-container *ngIf="!getComputedIsFoodEditingExpanded(foodIndex) || isReadOnly">
                          <span class="inline-amount">{{ getComputedFoodServingLabel(foodIndex) }}</span>
                        </ng-container>
                      </div>
                    </ion-col>
                    <ion-col size="2" class="right" *ngIf="!isReadOnly">
                      <div class="action-icons">
                        <ion-icon 
                          [name]="getComputedIsFoodEditingExpanded(foodIndex) ? 'chevron-up-outline' : 'chevron-down-outline'" 
                          class="edit-icon" 
                          [class.expanded]="getComputedIsFoodEditingExpanded(foodIndex)" 
                          (click)="toggleFoodEditing(foodIndex)">
                        </ion-icon>
                        <ion-icon name="trash-outline" class="delete-icon" (click)="food.id && removeFood(food.id)"></ion-icon>
                      </div>
                    </ion-col>
                  </ion-row>
                  <!-- <ion-row class="macro-row" *ngIf="!isReadOnly">
                    <ion-col size="12" class="macro-summary">
                      ({{ getFoodTotalCaloriesFromComponents(food, foodComponents) | number:'1.0-0' }} cal,
                      {{ getFoodTotalProteinFromComponents(food, foodComponents) | number:'1.0-0' }} protein,
                      {{ getFoodTotalFatFromComponents(food, foodComponents) | number:'1.0-0' }} fat,
                      {{ getFoodTotalCarbsFromComponents(food, foodComponents) | number:'1.0-0' }} carbs)
                    </ion-col>
                  </ion-row> -->
                </ion-grid>
              </div>
            </div>

            <!-- Expanded food editing (quantity + components) -->
            <div *ngIf="!isReadOnly && getComputedIsFoodEditingExpanded(foodIndex)" class="expanded-food-components">
            <ng-container *ngFor="let componentData of foodComponents; trackBy: trackByComponentId">
              <app-food-component-item
                [component]="componentData"
                [componentIndex]="0"
                [isReadOnly]="isReadOnly"
                [isEditMode]="isEditMode"
                [isExpanded]="expandedSections[componentData.componentId]"
                [isEditing]="getComputedIsComponentEditing(componentData.componentId)"
                [editingValue]="getComputedEditingValue(componentData.componentId)"
                [isSearching]="getComputedIsSearching(componentData.componentId)"
                [showingMoreOptions]="showingMoreOptionsFor[componentData.componentId]"
                [loadingMoreOptions]="loadingMoreOptionsFor[componentData.componentId]"
                [moreOptions]="moreOptionsFor[componentData.componentId] || []"
                [loadingInstantOptions]="loadingInstantOptionsFor[componentData.componentId]"
                (toggleExpansion)="toggleExpansion($event)"
                (servingSelected)="onServingSelected($event.componentId, $event.servingId)"
                (quantityChanged)="handleQuantityChange($event)"
                (editStarted)="startEditingComponent($event)"
                (editCanceled)="cancelEditingComponent($event)"
                (editConfirmed)="sendUpdatedComponent($event.componentId)"
                (removeComponent)="removeItem($event)"
                (moreOptionsRequested)="toggleMoreOptions($event)"
                (foodSelected)="handleFoodSelected($event)"
                (instantOptionsRequested)="onDropdownWillOpen($event.componentId)">
              </app-food-component-item>
            </ng-container>
            
          </div> <!-- Close expanded-food-components -->
          </ng-container> <!-- Close multi-component food -->

          <!-- Single-component food: Display using child component -->
          <ng-container *ngIf="foodComponents.length === 1">
            <ng-container *ngFor="let componentData of foodComponents; trackBy: trackByComponentId">
              <app-food-component-item
                [component]="componentData"
                [componentIndex]="0"
                [isReadOnly]="isReadOnly"
                [isEditMode]="isEditMode"
                [isExpanded]="expandedSections[componentData.componentId]"
                [isEditing]="getComputedIsComponentEditing(componentData.componentId)"
                [editingValue]="getComputedEditingValue(componentData.componentId)"
                [isSearching]="getComputedIsSearching(componentData.componentId)"
                [showingMoreOptions]="showingMoreOptionsFor[componentData.componentId]"
                [loadingMoreOptions]="loadingMoreOptionsFor[componentData.componentId]"
                [moreOptions]="moreOptionsFor[componentData.componentId] || []"
                [loadingInstantOptions]="loadingInstantOptionsFor[componentData.componentId]"
                (toggleExpansion)="toggleExpansion($event)"
                (servingSelected)="onServingSelected($event.componentId, $event.servingId)"
                (quantityChanged)="handleQuantityChange($event)"
                (editStarted)="startEditingComponent($event)"
                (editCanceled)="cancelEditingComponent($event)"
                (editConfirmed)="sendUpdatedComponent($event.componentId)"
                (removeComponent)="removeItem($event)"
                (moreOptionsRequested)="toggleMoreOptions($event)"
                (foodSelected)="handleFoodSelected($event)"
                (instantOptionsRequested)="onDropdownWillOpen($event.componentId)">
              </app-food-component-item>
            </ng-container>
          </ng-container> <!-- Close single-component food -->
          </ng-container> <!-- Close cached components container -->

        </div> <!-- Close food-item-container -->
      </ng-container>
    </div>

    <!-- Add something row -->
    <app-add-food
      [hasPayload]="hasPayload"
      [isReadOnly]="isReadOnly"
      [isEditMode]="isEditMode"
      (foodAdded)="onFoodAdded($event)">
    </app-add-food>
  </div>

  </div> <!-- End normal content -->

  <!-- Action/status footer -->
  <div class="confirm-section">
    <div *ngIf="(isSubmitting || isCanceling) && !isReadOnly" class="typing-indicator">
      <div class="typing-indicator-dots">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>

    <div *ngIf="!isSubmitting && !isCanceling && isReadOnly" class="status-text">{{ statusText }}    </div>
    <ion-button 
      *ngIf="!isSubmitting && !isCanceling && !isReadOnly"
      expand="block" 
      [disabled]="!isSelectionComplete()"
      (click)="confirmSelections()"
      color="tertiary"
      class="confirm-button">
      {{ isEditMode ? 'Confirm Edit' : 'Confirm Selection' }}
    </ion-button>

    <ion-button 
      *ngIf="!isSubmitting && !isCanceling && !isReadOnly"
      expand="block" 
      (click)="cancelSelection()"
      fill="outline"
      class="cancel-button">
      Cancel
    </ion-button>

    
  

    
  </div>
</div>
