<ion-header>
  <ion-toolbar>
    <ion-title>Nutrition Coach</ion-title> <!-- Changed title -->
    <ion-buttons slot="end">
      <ion-button (click)="signOut()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Chat messages container -->
  <div class="chat-messages">
    <h2 class="section-title">Log New Food</h2>
    <app-chat-message 
      *ngFor="let msg of messages"
      [message]="msg"
      (viewDetails)="showNutritionDetails($event)">
    </app-chat-message>
    
    <!-- Loading indicator -->
    <div *ngIf="isLoading" class="loading-indicator">
      <ion-spinner name="dots"></ion-spinner>
    </div>
  </div>

  <!-- Floating Action Button -->
  <app-floating-action-button
    (takePhoto)="handleTakePhoto()"
    (scanBarcode)="handleScanBarcode()"
    (quickAdd)="handleQuickAdd()">
  </app-floating-action-button>
</ion-content>

<ion-footer>
  <!-- Chat input component -->
  <app-chat-input (newMessage)="handleNewMessage($event)"></app-chat-input>
</ion-footer>

