<ion-content class="pwa-install-content">
  <div class="pwa-install-container">
    <div class="install-icon">
      <ion-icon name="download-outline"></ion-icon>
    </div>
    
    <div class="install-title">
      <h4>Install App</h4>
    </div>
    
    <div class="install-message">
      <p>{{ message }}</p>
    </div>
    
    <ion-button 
      expand="block" 
      color="tertiary" 
      class="install-button"
      (click)="dismissPopover()">
      Got it
    </ion-button>
  </div>
</ion-content>
  