<div class="settings-dropdown">
  <ion-list>
    <ion-item button routerLink="/account-management" (click)="onNavigateToAccountManagement()" detail="false">
      <ion-icon name="person-circle" slot="start"></ion-icon>
      <ion-label>My Account</ion-label>
    </ion-item>

    <ion-item button (click)="onAction('signout')" detail="false">
      <ion-icon name="log-out" slot="start"></ion-icon>
      <ion-label>{{ "Sign out" | titlecase }}</ion-label>
    </ion-item>

    <ion-item detail="false">
      <ion-icon name="information-circle" slot="start"></ion-icon>
      <ion-label>{{ ("Version " + appVersion) | titlecase }}</ion-label>
    </ion-item>
  </ion-list>
</div>
